h1 {
    text-align: center;
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.page {
    page-break-after: always;
    margin: 20mm;
                        }
.header, .footer {
    position: sticky;
    width: calc(100% - 40mm);
    left: 20mm;
}
.header {
    top: 0;
    background-color: white;
    z-index: 1;
}
.footer {
    bottom: 0;
    text-align: center;
    font-size: 14px;
    color: #888;
    background-color: white;
    z-index: 1;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}