body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}

h1 {
    text-align: left;
    padding: 0.5em;
    color: #6381d2;
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #6381d2;
    color: white;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #abd263;
}

.examen {
    display: flex;
    gap: 10px;
    align-items: center;
}

.examen input[type="text"], .examen select {
    flex: 1;
}

.add, .remove {
    flex: 0 0 auto;
    width: auto;
    padding: 0 15px;
}

#listado_ex {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    background-color: #fafafa;
}

#listado_ex option {
    padding: 5px;
    font-size: 0.9em;
}
